body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url(Assets/BackgroundImage1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif !important;
    -ms-overflow-style: none;
    scrollbar-width: none;}

body::-webkit-scrollbar {
    display: none;
}   

.card {
    background-color: rgba(255, 255, 255, 0.3) !important;
    backdrop-filter: blur(30px) !important;
}

.modal {
    transition: 200ms opacity ease-in-out !important; 
}

.is-active {
    transition: 200ms opacity ease-in-out !important; 
}

.modal-button {
    width: 100%;
}
.modal-card, .modal-content {
    width: 15rem !important;
}

.input {
    outline: none !important;
    border:none !important;
}


@media screen and (min-width: 769px) {
    .modal-card, .modal-content {
        width: 25rem !important;
    }
}
